services:
  rmq:
    image: rabbitmq:3.9-management
    ports:
      - DEFINEIP:60808:15672
    restart: unless-stopped
  sched:
    build: sched/
    image: pywebsched:latest
    dns:
      - 8.8.8.8
    depends_on:
      - rmq
    volumes:
      - ./sched/schedulellm.py:/schedulellm.py:ro
      - /mnt/megapenthes/Development/py_webradio/screenshots:/app/results:rw
    restart: unless-stopped
  ollama-server:
    build: ollama
    environment:
      OLLAMA_MODELS: /app/ollama-models
      OLLAMA_KEEP_ALIVE: 0      
    command: >
      serve
    volumes:
      - /mnt/megapenthes/Development/ollama:/app/ollama-models:rw
    ports:
      - "DEFINEIP:11434:11434"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
  tuner:
    build: tuner/
    image: pywebtuner:latest
    privileged: true
    restart: unless-stopped
    volumes:
      - webdata:/var/www/html:rw
      - /mnt/megapenthes/Badgers:/mnt/megapenthes/Badgers:rw
      - ./tuner/tune.py:/tmp/pysched/tune.py:ro
      - CODEDIR/py_webradio/status.log:/tmp/pysched/status.log:rw
      - CODEDIR/py_webradio/merge.log:/tmp/pysched/merge.log:rw
    depends_on:
      - rmq
      - sched
    env_file:
      - tuner/tuner-env.env
  navidrome:
    image: deluan/navidrome:latest
    user: 1000:1000
    ports:
      - "DEFINEIP:4533:4533"
    restart: unless-stopped
    environment:
      # This is part of my reverse proxy setup; see below.
      ND_BASEURL: /navidrome
      # Re-scan the music library every 15 minutes.
      ND_LASTFM_ENABLED: "false"
      ND_LOGLEVEL: debug
      ND_SESSIONTIMEOUT: 24h
    volumes:
      - "CODEDIR/navidrome-service/data:/data"
      - "BASEDIR/Music:/music:ro"
  home-assistant:
    image: "ghcr.io/home-assistant/home-assistant:stable"
    container_name: home-assistant
    restart: unless-stopped
    volumes:
      - /mnt/megapenthes/Development/home-assistant:/config
      - /etc/localtime:/etc/localtime:ro
    privileged: true
    network_mode: host
  lms:
    container_name: lms
    image: lmscommunity/lyrionmusicserver
    network_mode: host
    volumes:
      - /mnt/megapenthes/Development/home-assistant/lms/config:/config:rw
      - /mnt/megapenthes/Development/home-assistant/lms/playlist:/playlist:rw
      - /mnt/megapenthes/Music:/music:ro
    restart: always
  samba:
    image: samba:latest
    restart: unless-stopped
    ports:
      - "DEFINEIP:139:139"
      - "DEFINEIP:445:445"
    volumes:
      - /mnt/megapenthes:/mnt/megapenthes:rw
  server:
    build: server/
    image: pywebserver:latest
    restart: unless-stopped
    volumes:
      - webdata:/usr/share/nginx/html:ro
      - certs:/etc/letsencrypt:rw
      - ./server/tuner-conf.d/.htpasswd:/etc/nginx/.htpasswd:ro
      - ./logs/:/var/log/nginx:rw
      - ./server/nginx-entrypoint.sh:/tmp/entrypoint-nginx.sh:ro
    env_file:
      - server/server-env.env
    ports:
      - "DEFINEIP:443:443"
      - "DEFINEIP:60000:80"
    depends_on:
      - letsencrypt
  letsencrypt:
    build: letsencrypt/
    image: letsencrypt:latest
    dns:
      - 8.8.8.8
    volumes:
      - certs:/etc/letsencrypt:rw
      - webdata:/var/www/html:rw
      - ./le-logs:/var/log/letsencrypt:rw
    env_file:
      - server/server-env.env
    ports:
      - "DEFINEIP:80:80"
volumes:
  webdata:
  certs:
  dlnalog:
  dlnacfg:
  jfcfg:
  jfcache:
