function search() {
    for (i = 0;i<25;i++) {
	setTimeout(function(){
	    window.open("https://www.bing.com/search?form=&q=hmm" + i+100+Math.random(), "_blank")
	}, 10000);
	setTimeout(function(){
	    console.log("asdfasdf")
	}, 1000);
    }
}
