arrow==0.17.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.9.3
certifi==2021.10.8
chardet==4.0.0
configparser==4.0.2
contextlib2==0.6.0.post1
funcsigs==1.0.2
idna==2.10
importlib-metadata==2.1.1
iso8601==0.1.16
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.9
pathlib2==2.3.6
Pint==0.9
pyparsing==2.4.7
python-dateutil==2.8.2
requests==2.26.0
scandir==1.10.0
six==1.16.0
soupsieve==1.9.6
typing==3.10.0.0
typing-extensions==3.10.0.2
urllib3==1.26.7
zipp==1.2.0
